<div>
    <div class="page-header pt-3 ">
        <p class="d-flex flex-row justify-content-start align-items-center"><span class="fw-bold">Dashboard</span>
            <i class="bi bi-chevron-right fw-bold"></i><span>Dashboard
            </span>
        </p>
    </div>
    <div class="my-4">
        <h4 class="fw-bold">Dashboard</h4>
    </div>
    <div class="">
        <h6 class="fw-bold heading-list">List Order</h6>
    </div>
    <div>
        <table class="table table-borderless">
            <thead class="table-head">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Car</th>
                    <th scope="col">Start Rent</th>
                    <th scope="col">Finish Rent</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <% listOrders.forEach(i=> {
                    %>
                    <tr>
                        <th scope="row">
                            <%= i.id %>
                        </th>
                        <td>
                            <%= i.email %>
                        </td>
                        <td>
                            <%= i.car %>
                        </td>
                        <td>
                            <%= i.start_rent %>
                        </td>
                        <td>
                            <%= i.start_rent %>
                        </td>
                        <td>
                            <%= i.price %>
                        </td>
                        <td>
                            <%= i.status %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-start gap-3">
        <div class="d-flex">
            <div class="me-4">
                <label>Limit</label>
                <select class="form-select select-limit" aria-label="Default select example">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>
            <div class="me-4">
                <label>Jump To Page</label>
                <div class="d-flex">
                    <select class="form-select select-jump" aria-label="Default select example">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <button class="btn btn-primary-main">
                        Go
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex align-self-center align-self-md-end">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>